#header{
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 59px;    
    background-color: var(--black-primary);
    
    box-shadow: 0px 3px 20px var(--shadow);
}   

#bttn__sidemenu{
    margin: 0 15px;
    background-color: transparent;
    color: var(--white-primary);
    border: none;
}

.header__symbol{
    width: 96px;
    height: 58px;
    
    margin: 0 15px;
    text-align: center;
    line-height: 58px;

    background-color: var(--details);
    color: var(--white-primary);
}

.header__symbol > p {
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.4rem;
    font-weight: 500;
}


.bttn-left, .bttn-right{
    display: none;
}

@media (min-width: 768px) {
    #header{
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
    }
    .header__symbol{
        margin: 0 auto;
    }
    .header__sidemenu{
        display: none;
    }

    .bttn-left, .bttn-right{
        display: unset;
    }
    .left__corner{
        margin-right: 2vw;
    }
    .right__corner{
        margin-left: 2vw;
    }
    .nav-buttons > a{
        background-color: transparent;
        color: var(--white-primary);
        border-bottom: 2px solid transparent;
        text-decoration: none;
        font-size: 1.2rem;
        transition: 0.3s;
    }
    .nav-buttons > a:hover{
        border-color: var(--details);
        transition: 0.2s;
    }
 
}

@media (min-width: 768px) {
    .left__corner{
        margin-right: 10vw;
    }
    .right__corner{
        margin-left: 10vw;
    }
    .header__symbol{
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
    }
}