#intro{
    width: 100%;
    overflow: hidden;
}

.introBg__mbl{
    width: 100vw;
    height: 65%;
    max-height: 490px;
}

.intro__content{
    position: absolute;
    top: 12%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);

    height: 20vh;
    max-height: 190px;
    width: 86vw;
    line-height: 20px;
    text-align: left;
}

.intro__content > h1 {
    color: var(--white-primary);
}

.intro__content > h1, h2{
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: 2px;
}
.intro__content > h4 {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.intro__button {
    width: 140px;
    padding: 8px 14px;

    background-color: var(--white-primary);
    border: 1px solid var(--black-primary);
    border-radius: 2px;

    box-shadow: 5px 6px 0 var(--black-primary);
    font-size: 1.2rem;
}

.intro__button:active{
    transform: translate(3px, 2px);
    box-shadow: 2px 2px 0 var(--black-primary);
} 

.dsk{
    display: none;
}

@media (min-width: 768px) {
    .introBg__dsk{
        width: inherit;
        height: 87%;
    } 
    .intro__content{
        top: 8%;
        left: 8%;
        transform: translateX(0%);
        height: 200px;
    }
    .mbl{
        display: none;
    }
    .dsk{
        display: unset;
    }
}

@media (min-width: 1024px) {
    #intro{
        height: 440px;
    }
    .intro__content {
        top: 96px;
    }
    .intro__content > h1 {
        font-size: 3.2rem;
    }
}