#plans{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 28px 0;

    background-color: var(--white-primary);
    background-image: url("../images/svg/plans-bg-mbl.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.plans__top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 28px 0;

    text-align: center;
}

.card{
    height: 446px;
    width: 256px;
    margin: 15px 0;
    padding: 8px;

    background-color: var(--details);
    color: var(--white-primary);
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 3px 3px 8px var(--shadow);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);

    border-radius: 15px;
    border-color: var(--black-primary);
    box-shadow: 5px 5px 8px var(--shadow);
}

.card__header{
    height: 40%;
    width: 128px;
    margin: 0 auto;
    
    line-height: 34px;
    font-size: 1.3rem;
    text-shadow: 1px 2px var(--shadow);
}
.card__header > h3 {
    margin: 5px 0;
    font-size: 2rem;
}
.card__header > div {
    display: flex;
    justify-content: space-evenly;

}

.card__old{
    text-decoration: line-through;
}
.card__new{
    font-size: 2.2rem;
    font-weight: 600;
    text-shadow: 1px 2px var(--shadow);
}

.card__list{
    list-style-type: none;

    height: 58%;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    background-color: var(--white-primary);
    color: var(--black-primary);
    border-radius: 8px;

    text-align: left;
    line-height: 36px;

}
.card__list > li {
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
}

@media(min-width: 768px){
    #plans{
        background-image: url("../images/png/plans-bg-dsk.png");
        background-size: cover;
    }
    .plans__top{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card__container{
        display: grid;
        grid-template-columns: 38vw 38vw;
        width: 80vw;
        max-width: 600px;
        margin: 30px auto;
    }
    .card{
        height: 454px;
        width: 240px;
        margin: 15px auto;
    }

    .card__list{
        height: 256px;
    }
}

@media(min-width: 1024px){
    .card{
        width: 250px;
        margin: 35px auto;
    }
}